.advantage {
  text-align: center;
}
.advantage h2 {
  font-family: sans-serif;
  color: rgb(33, 33, 118);
  font-weight: 600;
}
.ag-format-container {
  width: 1180px;
  margin: 0 auto;
}

.ag-courses_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 50px 0;
}
.ag-courses_item {
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #0000006b;
}
.ag-courses_item:nth-child(1) {
  border: 1px solid #edc8de;
}
.ag-courses_item:nth-child(2) {
  border: 1px solid #b6e7c1;
}
.ag-courses_item:nth-child(3) {
  border: 1px solid #e4c4b9;
}
.ag-courses_item:nth-child(4) {
  border: 1px solid #d3bbea;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  z-index: 2;
  position: relative;
}
.ag-courses-item_title h3 {
  font-size: 20px;
}
.ag-courses-item_title p {
  font-size: 14px;
  color: #0000006c;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 120px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(1n) .ag-courses-item_bg {
  background-color: #edc8de;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #b6e7c1;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e4c4b9;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #d3bbea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
